:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --success-color-75: rgb(49, 208, 170, 0.75);
    --success-color-50: rgb(49, 208, 170, 0.50);
    --success-color-10: rgb(49, 208, 170, 0.10);
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: rgba(46, 47, 66, 0.4);
    --hero-background-color:rgba(46, 47, 66, 0.7);
    --primary-white-color: #FFFFFF;
    --modal-background-color: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-white-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul, ol {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 0px 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* region logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
}

.logo-accent {
    color: var(--primary-brand-color);
}

.logo-header {
    display: block;
    padding: 24px 0px;
}

/* region menu */
.header {
    border-bottom: 1px solid var(--accent-color);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-nav {
    display: flex;
    gap: 76px;
}

.header-menu-nav-list {
    display: flex;
    gap: 40px;
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    display: block;
    padding: 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav:hover, .menu-nav:focus {
    color: var(--pressed-state-color);
}

.menu-nav.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    position: relative;
    top: 21px;
}

.menu-nav.current {
    color: var(--pressed-state-color);
    padding-bottom: 20px;
}

.header-menu-address {
    display: flex;
    gap: 40px;
}

.menu-address {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: block;
    padding: 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address:hover, .menu-address:focus {
    color: var(--pressed-state-color);
}

/* region buttons */
.button-filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    top: 20px;
    left: 20px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    color: var(--primary-brand-color);
    background-color: var(--light-color);
    padding: 12px 24px 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover, .button-filter:focus {
    color: var(--primary-white-color);
    background-color: var(--pressed-state-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--pressed-state-color);
}

.button-cta {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--primary-white-color);
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-cta:hover, .button-cta:focus {
    background-color: var(--pressed-state-color);
}

/* region hero */
.hero-section {
    background-color: var(--dark-color);
    padding: 188px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

/* region benefits */
.benefits-section {
    padding: 120px 0px;
}

.benefits {
    display: flex;
    align-items: center;
    gap: 24px;
}

.benefits-card {
    width: 264px;
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.benefits-icon {
    background-color: var(--light-color);
    padding: 24px 100px;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
}

/* region service */
.service-section {
    padding-bottom: 120px;
}

.service {
    display: flex;
    gap: 24px;
}

.service-card-img {
    height: 300px;
}

.service-title {
    margin-bottom: 72px;
    text-transform: capitalize;
}

/* region team */
.team-section {
    padding: 120px 0px;
    background-color: var(--light-color);
}

.team-title {
    margin-bottom: 72px;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    width: 264px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-content {
    text-align: center;
    padding: 32px 0px;
}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.team-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-list-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover, .social-list-item:focus {
    background-color: var(--pressed-state-color);
}

.social-list-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.social-list-icon {
    fill: var(--light-color);
    margin: 12px;
}

/* region customers */
.customers-section {
    padding: 120px 0px;
}

.customers-title {
    margin-bottom: 72px;
    text-transform: capitalize;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-card {
    width: 168px;
    height: 88px;
}

.customer-icon {
    fill: var(--subtle-text-color);
    margin: 16px 32px;
}

.customer-link {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover, .customer-link:focus {
    border-color: var(--pressed-state-color);
}

.customer-link:hover .customer-icon, .customer-link:focus .customer-icon {
    fill: var(--pressed-state-color);
}

/* region portfolio */
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card {
    width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover, .portfolio-card:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
    padding: 32px 0px 32px 16px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.portfolio-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.portfolio-card-wrapper {
    position: relative;
    overflow: hidden;
}

/* Стилі для оверлею */
.portfolio-overlay {
    padding: 40px 32px 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    display: flex;
    align-items: flex-start;
    opacity: 1; /* Початкова прозорість оверлею */
    transform: translateY(100%); /* Початкове зміщення оверлею вниз */
    transition: opacity 0.3s ease, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Перехід для зміни прозорості та зміщення */
}

/* Стилі для тексту на оверлеї */
.portfolio-overlay p {
    color: #fff;
    font-size: 20px;
}

/* Застосовуємо стилі для оверлею при ховері чи фокусі */
.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
    opacity: 1; /* Змінюємо прозорість оверлею */
    transform: translateY(0); /* Зміщуємо оверлей наверх */
}

/* region footer */
.footer {
    background-color: var(--dark-color);
    padding: 100px 0px;
}

.footer-logo {
    display: inline-block;
    color: var(--light-color);
    margin-bottom: 16px;
}

.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.footer-elements {
    display: flex;
    align-items: baseline;
    gap: 120px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    margin-bottom: 16px;
}

.social-list-footer {
    margin-top: 0px;
    justify-content: flex-start;
}

.social-icon-footer {
    margin: 8px;
}

.social-list-footer>.social-list-item:hover, .social-list-footer>.social-list-item:focus {
    background-color: var(--success-color);
}

/* region modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 372px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    fill: var(--dark-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--pressed-state-color);
    border-color: var(--pressed-state-color);
    fill: var(--primary-white-color);
}